html{
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    
    background-image: linear-gradient(to top,#330033 ,rgb(46, 134, 193));
    
}
.mainhead{
    position: absolute;
    top: 8%;
    left: 41%;
    font-size: 50px;
    color:cyan ;
    text-shadow: 5px 6px 6px #330033 ;
}
 @media screen and (max-width:1000px) {
     .mainhead{
        position: absolute;
        top: 5%;
        left: 5%;
        
    }
    @media screen and (max-width:540px) {
        .mainhead{
           margin-top: 20px;
           
       }
  } 
.container{
    
    box-shadow: 7px 9px 10px grey;
    padding:50px;
    border: 3px solid royalblue; 
    background-image: linear-gradient(to top, cyan,rgb(46, 134, 193)); 

}
@media screen and (max-width:1000px) {
    .container{
       position: absolute;
       top: 30%;
       left:2%;
    

   }
 } 
 @media screen and (max-width:540px) {
    .container{
      width: 60%;
      margin-left: 7px;
      margin-top: -25px;
    
   }
 } 


 
.screen{
    border: 3px solid royalblue;
    text-align: center;
    font-size: 60px;
    background-color: cyan;
    border-radius: 10px;  
}
@media screen and (max-width:575px) {
    .screen{
       font-size: 33px;
       width: 270px;
       height: 50px;
       padding-top: 15px;
       margin-left: -35px;
       
    
    
   }
 } 


span{
    color:#330033;
    margin: 8px;
}

button{
    
    background-color: royalblue;
    font-weight: bold;
    font-size: 30px;
    color:cyan;
    border-color: royalblue;
    margin: 12px;
    border-radius: 10px;
    margin-left: 25px;
}

button:hover{
    background-color:#4B0082;
    cursor: pointer;
}
#min,#sec,#msec{
    margin: 8px;
}
